body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.left{
  text-align: left;
}

.right {
  text-align: right;
}

#logo {
  width: 260px;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #003366;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  text-align: center;
}

.what {
  background-color: #dfefff;
  padding: 20px;
  border: 1px solid #a0c4ff;
  margin-bottom: 20px;
}

.exchange {
  background-color: #dfefff;
  padding: 20px;
  border: 1px solid #a0c4ff;
  margin-bottom: 20px;
}

.features {
  padding: 20px;
  margin-top:50px;
}

.features ul {
  text-align: left;
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button a {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.button a:hover {
  background-color: #003366;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
